@property --cover-image-max-width {
    syntax: '<length>';
    inherits: false;
    initial-value: 256px;
}

@property --cover-image-max-height {
    syntax: '<length>';
    inherits: false;
    initial-value: 256px;
}

.cover-container {
    max-width: var(--max-width);
    width: var(--line-width);
    margin-inline: var(--content-margin);
}

.cover-container > img {
    max-width: var(--cover-image-max-width);
    max-height: var(--cover-image-max-height);
}

.markdown-preview-view > .cover-container {
    padding-bottom: calc(var(--p-spacing) / 2);
}